.blog-page{
    .hero{
        &__container{
            margin-bottom: 114px;
        }
        &__title{
            margin: 130px auto 96px;
            @media (max-width: $tablet) {
                margin: 58px auto 73px;
            }
        }
        &__row{
            display: flex;
            gap: 68px;
            @media (max-width: $tablet) {
                flex-wrap: wrap;
                gap: 16px;
            }
        }
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__info-tag{
            margin-bottom: 57px;
            color: $grey500;
            @media (max-width: $tablet) {
                margin-bottom: 24px;
            }
        }
        &__info-title{
            margin-bottom: 16px;
        }
        &__info-data{
            margin-bottom: 48px;
            color: $grey500;
            @media (max-width: $tablet) {
                margin-bottom: 24px;
            }
        }
    }
    .gategories{
        &__form{
            display: flex;
            align-items: center;
            gap: 39px;
            max-width: 48%;
            margin-bottom: 48px;
            color: $grey700;
            @media (max-width: $tablet) {
                flex-direction: column;
                gap: 29px;
                align-items: flex-start;
            }
        }
    }

.cart-blog{
    &__container-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        } 
        @media (max-width: $tablet) {
            flex-direction: column;
            gap: 29px;
            align-items: flex-start;
        }
    &__cart{
        max-width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 128px;
        @media (max-width: $tablet) {
            flex-direction: column;
            max-width: 100%;
            margin-bottom: 48px;
        }
        }
    &__image{
        margin-bottom: 24px;
        }
    &__discription{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        }
    &__title{
        margin-bottom: 24px;
        display: flex;
        flex: 1 1 auto;
        }
    &__button{
    display: block;
    margin: 0 auto 136px;
        }
    }

}