.contact{
    &__container{
        margin-top: 131px;
    }
    &__row-title {
        display: flex;
        justify-content: space-between;
        @media (max-width: $tablet) {
            display: block;
        }

    } 
    &__title{
        max-width: 35%;
        @media (max-width: $tablet) {
            max-width: 100%;
            margin-bottom: 42px;
        }
    }
    &__item{
        max-width: 45%;
        @media (max-width: $tablet) {
            max-width: 100%;
        }
    }

    &__row-info{
        display: flex;
        justify-content: space-between;
        margin:128px 0px;
        @media (max-width: $tablet) {
            display: block;
            margin-top: 64px;
        }
    }
    &__information{
        max-width: 35%;
        @media (max-width: $tablet) {
            max-width: 100%;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 22px;
        margin-bottom: 69px;
        @media (max-width: $tablet) {
            margin-bottom: 51px;
        }
    }
    &__list-adres{
        color: $grey700;
    }
    &__list-text{
        display: inline;
        margin-left: 10px;
    }
    &__sub-title{
    margin: 0px 0px 25px 0px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        gap: 48px;
        max-width: 45%;
        width: 100%;
        @media (max-width: $tablet) {
            max-width: 100%;
        }
    }
    &__icon{
        display: flex;
        gap: 24px;
        @media (max-width: $tablet) {
            margin: 26px 0px 63px 0px;
        }
    }
}

