.works{
    &__container{
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-top: 128px;
        margin-bottom: 128px;
        @media (max-width: $tablet) {
            display: flex;
            flex-direction: column;
            margin-top: 73px;
            margin-bottom: 64px;
            gap: 64px;
        }
    }
    &__row-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        @media (max-width: $tablet) {
            display: block;
            margin-bottom: 0px;
        }
    }
    &__item{
        max-width: 541px;
        color: $color-black;
        @media (max-width: $tablet) {
            max-width: 100%;
            margin-top: 48px;
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
        @media (max-width: $tablet) {
            flex-direction: column-reverse;
        }
    }
    &__box-title{
        &::after{
            content: "";
            display: block;
            width: 85px;
            height: 2px;
            background: #CCCCCC;
            margin-top: 16px;
            margin-bottom: 24px;
            @media (max-width: $tablet) {
                flex-direction: column-reverse;
            }
        }
        @media (max-width: $tablet) {
            margin-top: 24px;
        }
    }
    &__box-data{
        color: $grey700;
        margin-top: 16px;
        margin-bottom: 39px;
    }

    &__image{
        max-width: 544px;
        @media (max-width: $tablet) {
            max-width: 100%;
        }
    }
}