.button{
    border: none; 
    background: transparent;
    font-family: $sub-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $white;
    background: $grey700;
    border-radius: 10px;
    padding: 8px 34px;
    cursor: pointer;
    &--icon{
        &::after{
            content: "⇨";
            font-size: 20px;
            padding-left: 8px;
            color: $white;
        }
    }
    &:hover{
        background: #252525;
    }
}